.navbar {
  background: #28527a;
  padding-block: 2rem;
  padding-inline: 10%;
  color: #fff;
  border-bottom: 5px solid #f9ba32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
