.search {
  &Label {
    display: flex;
    @media screen and (max-width: 692px) {
      order: 1;
      margin-inline: auto;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
  &Input {
    padding-block: 1rem;
    padding-inline: 2rem;
    width: 350px;
    border: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.5rem;
    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: none;
    }
    @media screen and (max-width: 1000px) {
      border-radius: 0;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.8rem;
    }
  }
  &Btn {
    display: block;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    background-color: #22b0f0;
    cursor: pointer;
    &:hover {
      background-color: #1d4164;
    }
  }
}

.megaMenuBtn {
  all: unset;
  display: none;
  padding: 1rem 2rem;
  background-color: #22b0f0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  cursor: pointer;
  svg {
    width: 3rem;
  }
  &:hover {
    background-color: #1d4164;
  }
  @media screen and (max-width: 1000px) {
    display: block;
  }
}
